## 8절. 연습문제

In [ ]:
name = input('이름을 입력해주세요 : ')
age = int(input('나이를 입력해주세요 : '))

print(f"{name}님의 나이는 {age}입니다.")

김준호님의 나이는 25입니다.

In [ ]:
a, b = map(int, input("두 정수를 입력해주세요 : ").split())
print("두 수의 합 : {}".format(a+b))
print("두 수의 차 : {}".format(a-b))
print("두 수의 곱 : {}".format(a*b))
print("두 수의 나눗셈 : {}".format(a/b))
print("두 수의 몫 : {}".format(a//b))
print("두 수의 나머지 : {}".format(a%b))

두 수의 합 : 13
두 수의 차 : 7
두 수의 곱 : 30
두 수의 나눗셈 : 3.3333333333333335
두 수의 몫 : 3
두 수의 나머지 : 1

In [ ]:
temp = 'Hello World'
temp_list = temp.split()
temp = temp_list[1] + ' ' + temp_list[0]
print(temp)

World Hello

In [ ]:
x = 'abcdef'
print(x[1:]+x[0])

bcdefa

In [ ]:
print(x[::-1])

fedcba

In [ ]:
C = float(input("오늘의 섭씨 온도를 입력해주세요: "))
F = C * 1.8 + 32
if (F % 1 == 0):
    print("{:d}".format(F))
else:
    print("{:.2f}".format(F))

37.65

7번 : (2) 변수 이름의 시작을 숫자로 할 수 없음.

8번: 
```Python
SeounSeoul
(Seou,n,Seoul)
```

9번 : (2)

4.0