# ch02. 자료형과 연산자
## 1절. 변수
### 1.1 변수 선언
- 별도의 변수 선언 과정 없음
### 1.2 변수 할당
- 대입 연산자(=) 사용

In [1]:
import numpy as np

print("원주율의 값 :", np.pi)
r = 5
area = np.pi * r * r
print("반지름이 r = 5인 원의 넓이 :", area)

print("area의 타입 : ",type(area))
print("area의 주소 : ", id(area))

원주율의 값 : 3.141592653589793
반지름이 r = 5인 원의 넓이 : 78.53981633974483
area의 타입 :  <class 'float'>
area의 주소 :  1987225193168

In [2]:
area = 10
print("area의 값 : ", area)
print("area의 타입 : ",type(area))
print("area의 주소 : ", id(area))

area의 값 :  10
area의 타입 :  <class 'int'>
area의 주소 :  140720975627336

In [3]:
area = "파이썬은 좋아요"
print("area의 값 : ", area)
print("area의 타입 : ",type(area))
print("area의 주소 : ", id(area))

area의 값 :  파이썬은 좋아요
area의 타입 :  <class 'str'>
area의 주소 :  1987226503088

파이썬의 경우 가비지 컬렉터를 통해 메모리를 관리하여 더이상 사용되지 않는 값은 자동으로 할당 해제하고 새로은 값, 타입이 변수에 주어질 경우 같은 변수명일지라도 다른 공간을 할당하여 처리한다.

### 1.3 변수 이름 규칙
- 문자(특수문자는 _ 제외하면 불가능), 숫자, _로 명명.
- 문자로 시작 (숫자 시작 불가능).
- 파이썬에서 제공하는 기본 함수명은 피하는 것이 좋음. 꼭 써야한다면 _를 활용.
- 파이썬 예약어는 변수명으로 사용 불가.

In [4]:
i = 1 + 3j
print(type(i))

<class 'complex'>

In [5]:
a, b = 10, 20   # 다중 선언
print(f'({a}, {b})')

(10, 20)

In [6]:
a, b = b, a+b
print(f'({a}, {b})')

(20, 30)

### 1.4 도움말

In [7]:
#help(print)
?print
# 도움말 기능 : 함수 내에서 shift + tab 키
# VSCode에서는 자동으로 나온다.
print()

Signature: print(*args, sep=' ', end='\n', file=None, flush=False)
Docstring:
Prints the values to a stream, or to sys.stdout by default.

sep
  string inserted between values, default a space.
end
  string appended after the last value, default a newline.
file
  a file-like object (stream); defaults to the current sys.stdout.
flush
  whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [8]:
def make_number(x, y  = 0):
    """doc string(함수의 도움말)
    두 자리 정수 xy를 return합니다.
    십의 자리 : x
    일의 자리 : y (default = 0)
    """
    return x*10+y;


make_number(3,2)
?make_number

Signature: make_number(x, y=0)
Docstring:
doc string(함수의 도움말)
두 자리 정수 xy를 return합니다.
십의 자리 : x
일의 자리 : y (default = 0)
File:      c:\users\user\appdata\local\temp\ipykernel_3144\741576358.py
Type:      function

In [9]:
make = make_number

In [10]:
del make
make(6)

NameError: name 'make' is not defined

## 2절. 화면 입출력

In [ ]:
first = input('첫번째 숫자는? : ') # 문자로 return
second = input('두번쨰 숫자는? : ')

두 수의 합은 1020
두 수의 합은 1020

In [ ]:
print(f'두 수의 합은 {first+second}')
print('두 수의 합은 {}'.format(first+second))

두 수의 합은 1020
두 수의 합은 1020

## 3절. 기본 자료형
- 숫자 : int, float, complex
- 문자 : str
- 논리 : bool
파이썬은 타입을 지칭하는 키워드가 없고, 변수 할당시 타입이 정해진다.

### 3.1 숫자형

In [ ]:
import sys # sys에서 값의 최대값이 정의되어 있다.
print(sys.maxsize)

9223372036854775807

In [ ]:
a = sys.maxsize + 10
print(f'값 : {a}, 주소 : {id(a)}, 타입 : {type(a)}')
# maxsize를 넘는 값도 처리가 가능하다.

값 : 9223372036854775817, 주소 : 2229694114256, 타입 : <class 'int'>

In [ ]:
a = 3 / 2
print(f'값 : {a}, 주소 : {id(a)}, 타입 : {type(a)}')
# maxsize를 넘는 값도 처리가 가능하다.

값 : 1.5, 주소 : 2229701328816, 타입 : <class 'float'>

In [ ]:
a = int(3/2) # 명시적 형변환
a = 3 // 2 # c언어처럼 몫 연산자

print(f'값 : {a}, 주소 : {id(a)}, 타입 : {type(a)}')

값 : 1, 주소 : 140720975627048, 타입 : <class 'int'>

In [ ]:
f = 1.12e+20
print(f'값 : {f}, 주소 : {id(f)}, 타입 : {type(f)}')
f = 1.12e-20
print(f'값 : {f}, 주소 : {id(f)}, 타입 : {type(f)}')

값 : 1.12e+20, 주소 : 2229680869040, 타입 : <class 'float'>
값 : 1.12e-20, 주소 : 2229703070672, 타입 : <class 'float'>

### 3.2 문자형

In [ ]:
name = "홍길동 '님'"
print(name)

name = '홍길동 "님"'
print(name)

name = '\'홍\'길동 "님"'
print(name)

address = "서울시 금천구 \
가산디지털 1로" # 너무 길면 위와 같이 두줄로 처리 가능

print(address)

홍길동 '님'
홍길동 "님"
'홍'길동 "님"
서울시 금천구 가산디지털 1로

In [ ]:
# 문자열 슬라이싱
str = '0123456789'

In [ ]:
str[0:3]

'012'

In [ ]:
str[-3:-1]

'789'

In [ ]:
str[5:]

'56789'

In [ ]:
str[:-5]

'01234'

In [ ]:
#str[19] # 없는 인덱스는 에러가 발생한다. 
str[5:19] # 슬라이싱에서는 인덱스가 범위를 넘어도 범위의 끝까지만 출력한다.

'56789'

In [ ]:
# str[from:to:step]
print(str[0:9:2]) # 0번째부터 9번째까지 2씩 증가하며 접근
print(str[::2]) # 처음부터 끝까지 2씩 증가하며 접근

02468
02468

In [ ]:
# 거꾸로
print(str[9::-1])
print(str[::-1])

9876543210
9876543210

### 3.3 논리형(True, False)

In [ ]:
a = True
print(a)
print(type(a))
print(isinstance(a, bool)) # a가 bool type의 객체인지를 return함

True
<class 'bool'>
True

In [ ]:
# False로 간주하는 것 : 0, None, "", '', [], (), {}
# True로 간주하는 것 : ' ', '\0', 0이 아닌 숫자

if 0+0j:
    print(True)
else:
    print(False)

False

### 3.4 자료형 확인 및 변환
- type() : 자료형 확인
- int() : int형 변환
- float() : float형 변환
- str() : string형 변환

## 4절. formatting

In [ ]:
name = '홍길동'
add = '서울시 금천구'
print('이름은 {1}, 주소는 {0}'.format(add, name))

이름은 홍길동, 주소는 서울시 금천구

In [ ]:
print('이름은 %s 주소는 %s'%(name, add))

이름은 홍길동 주소는 서울시 금천구

In [ ]:
print(f'이름은 {name}, 주소는 {add}')

이름은 홍길동, 주소는 서울시 금천구

format(함수)
- "{[인덱스]:[공백대체문자][정렬방법][자릿수][타입]}".format(변수명,...)
    - 정렬방법 : <(왼쪽정렬), >(오른쪽 정렬), ^(가운데 정렬)
    - 타입 : d(10진수), x(16진수), b(2진수), f(실수), s(문자)

In [ ]:
a = 10
s = 'hello'
print("[{0:$>10d}], [{1:*<20.2}]".format(a, s)) # .을 사용해 데이터 마스킹 가능

[$$$$$$$$10], [he******************]

## 5절 연산자
### 5.1 산술연산자 : + - / * //(몫) %(나머지) **(제곱)
### 5.2 할당연산자 : = += -= /= %= ...
### 5.3 논리연산자 : &, and, |, or, not (우선순위 높음) 
### 5.4 비트연산자 : &, |, ^(or)

In [ ]:
print((10>3) & (10>5)) # 논리 연산자 True & False

True

In [ ]:
print(12&1) # 비트연산 2b1100 & 2b0001 = 2b0000 (0)
print(12|1) # 비트연산 2b1100 | 2b0001 = 2b1101 (13)

0
13

### 5.5 비교연산자 : >, >=, <, <=, ==, !=

In [ ]:
'아' < '하'

True

In [ ]:
'*' < '1' < 'A' < 'a'

True

## 6절. 문자열 다루기
    - 문자열 슬라이싱 : 문자변수[from:to:step]
    - len() : 문자갯수
    - upper() : 대문자
    - lower() : 소문자
    - title() : 각 단어의 앞글자만 대문자로
    - capitalize() : 첫문자만 대문자로, 그 외는 소문자
    - count('찾을 문자열') : 찾을 문자열이 몇개 들어있는지 갯수 반환
    - find('찾을 문자열') : 찾을 문자열을 왼쪽부터 시작하여 몇번째 인덱스에 있는지 반환
    - rfind('찾을 문자열') : 찾을 문자열을 오른쪽에서 시작하여 몇번째에 있는지 index 반환
    - startswith('찾을 문자열') : 특정 문자열로 시작하는지 T/F 반환
    - endswith('찾을 문자열') : 특정 문자열로 끝나는지 T/F 반환
    - strip() : 좌우 공백 제거
    - lstrip() : 좌 공백 제거
    - rstrip() : 우 공백 제거
    - isdigit() : 문자열이 숫자 문자열인지 여부 T/F 반환
    - islower() : 문자열이 소문자인지 여부 T/F 반환
    - isupper() : 문자열이 대문자인지 여부 T/F 반환
    - replace(oldStr, newStr) : oldStr을 newStr로 변경

In [ ]:
temp = 'Python is easy, Python is smart.'
print('대문자로 : ',temp.upper())
print('첫글자를 대문자로 : ',temp.capitalize())
print('title() : ',temp.title())
print('count() : ',temp.count('Python'))
print('find() : ',temp.find('Python'))
print('rfind() : ',temp.rfind('Python'))
print("replace('Python, ' ') : ", temp.replace('Python', ' '))
print('startswith() : ', temp.startswith("Py"))

대문자로 :  PYTHON IS EASY, PYTHON IS SMART.
첫글자를 대문자로 :  Python is easy, python is smart.
title() :  Python Is Easy, Python Is Smart.
count() :  2
find() :  0
rfind() :  16
replace('Python, ' ') :    is easy,   is smart.
startswith() :  True

In [ ]:
temp = "     Python is         "
print("trip : [{}]".format(temp))
print("strip : [{}]".format(temp.strip()))
print("rstrip : [{}]".format(temp.rstrip()))
print("lstrip : [{}]".format(temp.lstrip()))

trip : [     Python is         ]
strip : [Python is]
rstrip : [     Python is]
lstrip : [Python is         ]

In [ ]:
temp = 'Python is easy, Python is smart.'
print('space 단위로 분리하여 list로 변환 : ', temp.split())

space 단위로 분리하여 list로 변환 :  ['Python', 'is', 'easy,', 'Python', 'is', 'smart.']

In [ ]:
temp = '2024-05-30'
temp_list = temp.split('-')
print('- 단위로 연 월 일을 분리 : ', temp_list)

- 단위로 연 월 일을 분리 :  ['2024', '05', '30']

## 7절. 날짜 다루기
### 7.1 날짜

In [12]:
from datetime import date # datetime 패키지 디렉토리의 date import
someday = date(2024, 5, 30)
someday

datetime.date(2024, 5, 30)

In [15]:
print("{:%Y년 %m월 %d일 %H시 %M분}".format(someday))

2024년 05월 30일 00시 00분

### 7.2 시간

In [16]:
from datetime import datetime
now = datetime.today()
print("{:%Y년 %m월 %d일 %H시 %M분}".format(now))

2024년 05월 30일 12시 48분

## 8절. 연습문제

In [18]:
name = input('이름을 입력해주세요 : ')
age = int(input('나이를 입력해주세요 : '))

print(f"{name}님의 나이는 {age}입니다.")

김준호님의 나이는 25입니다.

In [5]:
a, b = map(int, input("두 정수를 입력해주세요 : ").split())
print("두 수의 합 : {}".format(a+b))
print("두 수의 차 : {}".format(a-b))
print("두 수의 곱 : {}".format(a*b))
print("두 수의 나눗셈 : {}".format(a/b))
print("두 수의 몫 : {}".format(a//b))
print("두 수의 나머지 : {}".format(a%b))

두 수의 합 : 13
두 수의 차 : 7
두 수의 곱 : 30
두 수의 나눗셈 : 3.3333333333333335
두 수의 몫 : 3
두 수의 나머지 : 1

In [8]:
temp = 'Hello World'
temp_list = temp.split()
temp = temp_list[1] + ' ' + temp_list[0]
print(temp)

World Hello

In [11]:
x = 'abcdef'
print(x[1:]+x[0])

bcdefa

In [12]:
print(x[::-1])

fedcba

In [18]:
C = float(input("오늘의 섭씨 온도를 입력해주세요: "))
F = C * 1.8 + 32
if (F % 1 == 0):
    print("{:d}".format(F))
else:
    print("{:.2f}".format(F))

37.65

7번 : 
(1) for는 기본 예약어 (2) 변수 이름의 시작을 숫자로 할 수 없음.
(3) . 사용 불가

8번: 

```Python
SeounSeoul
(Seou,n,Seoul)
```

9번 : (2)

4.0