# ch03. 데이터 구조
    - 리스트 [], 튜플(), 딕셔너리 {구조체와 유사}, 셋(집합)

## 1절. 리스트
### 1.1 리스트 만들기
    - [] 이용
    - 인덱스 : 0부터 시작, -1은 마지막 인덱스
    - 슬라이싱([from:to:step])을 이용하여 추출

In [1]:
fruits = ['banana', 'orange', 'apple', 'grape', 0]
type(fruits)

list

In [2]:
print(fruits)

['banana', 'orange', 'apple', 'grape', 0]

In [4]:
print(fruits[0])

banana

In [5]:
fruits[0] = 'mango'
print(fruits)

['mango', 'orange', 'apple', 'grape', 0]

In [6]:
for i in fruits:
    print(i)

mango
orange
apple
grape
0

In [7]:
range(0, 5)

range(0, 5)

In [8]:
len(fruits)

5

In [9]:
print(range(len(fruits)))

range(0, 5)

In [11]:
for i in range(len(fruits)):
    print("{}번째 과일은 {}".format(i, fruits[i]))

0번째 과일은 mango
1번째 과일은 orange
2번째 과일은 apple
3번째 과일은 grape
4번째 과일은 0

In [13]:
for idx, fruit in enumerate(fruits):
    print("{}번째 과일은 {}".format(idx, fruit))

0번째 과일은 mango
1번째 과일은 orange
2번째 과일은 apple
3번째 과일은 grape
4번째 과일은 0

### 1.3 요소 추가
    - 리스트 *  n : 리스트를 n만큼 반복
    - append() : 리스트 뒤에 추가
    - extend() : 리스트의 요소별로 뒤에 추가

In [14]:
numbers = [1,2,3]
numbers = numbers + numbers
numbers

[1, 2, 3, 1, 2, 3]

In [16]:
numbers = [1,2,3]
print(numbers * 3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [17]:
numbers.append(4)

In [18]:
numbers

[1, 2, 3, 4]

In [21]:
numbers = [1,2,3,4]
num = [5,6]
# numbers를 [1,2,3,4,5,6] vs [1,2,3,4,[5,6]]
numbers.extend(num)
numbers

[1, 2, 3, 4, 5, 6]

In [22]:
numbers = [1,2,3,4]
numbers.append("hello")
numbers

[1, 2, 3, 4, 'hello']

In [23]:
numbers = [1,2,3,4]
numbers.extend("hello")
numbers

[1, 2, 3, 4, 'h', 'e', 'l', 'l', 'o']

### 1.4 인덱싱
    - index(찾고자하는 값, 1) : 찾고자하는 값이 1번 인덱스부터
    - count(찾고자하는 값) : 찾고자하는 값이 몇번 나오는지 counter

In [25]:
numbers = [1,2,3, [1,2,3], 1,2,3]
print("2가 몇개인지 : {}".format(numbers.count(2)))
print("4가 몇개인지 : {}".format(numbers.count(4)))

2가 몇개인지 : 2
4가 몇개인지 : 0

In [26]:
2 in numbers # numbers 안에 2가 있는지 여부

True

In [27]:
numbers.index(2, 3) # 3번째 인덱스부터 2가 처음 나오는 인덱스를 반환

5

### 1.5 리스트의 원하는 내용만 추출
    - 슬라이싱 [from:to:step]을 이용, 원하는 인덱스의 값을 추출
    - 리스트 컴프리헨션을 이용, 원하는 데이터를 추출

In [28]:
numbers = [1,3,5,7,9,10,12,13,18,19,20]
numbers[::-1]

[20, 19, 18, 13, 12, 10, 9, 7, 5, 3, 1]

In [32]:
#값이 짝수인 데이터만 추출
result = []
for num in numbers:
    if(num % 2 == 0):
        result.append(num)

result

[10, 12, 18, 20]

In [36]:
#리스트 컴프리헨션을 사용한 짝수 추출

result = [i for i in numbers if i % 2 == 0]
result

[10, 12, 18, 20]

In [38]:
#numbers 리스트의 제곱값을 리스트로 생성하여라
result = [num ** 2 for num in numbers]
result

[1, 9, 25, 49, 81, 100, 144, 169, 324, 361, 400]

In [39]:
# 과일의 글자가 5글자 이상인 과일 추출하세요
fruits = ['orange', 'mango', 'apple', 'kiwi']

result = [fruit for fruit in fruits if len(fruit) >= 5]
result

['orange', 'mango', 'apple']

### 1.6 삭제하기
    - remove(data) : 해당 data가 제거
    - del 리스트변수[idx] : idx번째 요소 제거
    - pop() : 가장 마지막 인덱스 요소가 return되고 삭제됨

In [42]:
numbers = [1,2,3,4]
print(numbers.pop())
print(numbers)

4
[1, 2, 3]

In [43]:
numbers.remove(1)
print(numbers)

[2, 3]

In [44]:
numbers.remove(1)
# 없는 데이터를 remove시 오류

ValueError: list.remove(x): x not in list

In [47]:
del(numbers[0])
numbers

IndexError: list assignment index out of range

In [48]:
del numbers
# 리스트 자체를 삭제

### 1.7 정렬

In [52]:
numbers = [9,10,1,5,5]
numbers.sort(reverse=True)
numbers

[10, 9, 5, 5, 1]

### 1.8 리스트 복제

In [53]:
numbers = [6,1,2]
new_numbers = numbers # 얕은 복사
numbers.sort()
print("정렬 전 데이터 : ", new_numbers)
print("정렬 후 데이터 : ", numbers)

정렬 전 데이터 :  [1, 2, 6]
정렬 후 데이터 :  [1, 2, 6]

In [54]:
numbers = [6,1,2]
new_numbers = numbers.copy() # 깊은 복사
numbers.sort()
print("정렬 전 데이터 : ", new_numbers)
print("정렬 후 데이터 : ", numbers)

정렬 전 데이터 :  [6, 1, 2]
정렬 후 데이터 :  [1, 2, 6]

## 2절. 튜플
    - 리스트와 유사하지만 읽기 전용
    - () 이용해서 생성

In [58]:
city = ('서울', '부산', '광주', '대전')
print(type(city))
print(city)

<class 'tuple'>
('서울', '부산', '광주', '대전')

In [57]:
'~'.join(city)

'서울~대전~부산~광주'

In [59]:
list_ = ['서울']
type(list_)

list

In [61]:
t = ('서울',) # 요소가 하나인 튜플은 ,를 넣어주어야함. 아니면 요소의 type으로 출력
type(t)

tuple

## 3절. 딕셔너리
    - 구조체와 유사
    - {}를 이용해서 생성. key-value 쌍으로 구성
    - 값은 중복될 수 있으나 key는 중복 불가
    - index를 이용힌 참조 불가

In [62]:
dic = {'name' : '홍길동', 'address' : '서울시 금천구'}
print(type(dic))
print(dic)

<class 'dict'>
{'name': '홍길동', 'address': '서울시 금천구'}

In [65]:
dic['name'], dic['address']

('홍길동', '서울시 금천구')

In [66]:
dic.get('name'), dic.get('address'), dic.get('score')

('홍길동', '서울시 금천구', None)

In [70]:
# 수정
dic['score'] = 90
dic['sport'] = 'sleep'
print(dic)

{'name': '홍길동', 'address': '서울시 금천구', 'score': 90, 'sport': 'sleep'}

In [71]:
dic.pop('sport')
print(dic)

{'name': '홍길동', 'address': '서울시 금천구', 'score': 90}

In [72]:
#리스트(튜플, 셋)방식으로 for문 사용하면 key만 출력
for key in dic:
    print(key)

name
address
score

In [73]:
for idx, value in enumerate(dic):
    print(idx, value)

0 name
1 address
2 score

In [75]:
dic.keys()

dict_keys(['name', 'address', 'score'])

In [76]:
dic.values()

dict_values(['홍길동', '서울시 금천구', 90])

In [77]:
dic.items()

dict_items([('name', '홍길동'), ('address', '서울시 금천구'), ('score', 90)])

In [78]:
for data in dic.values():
    print(data)

홍길동
서울시 금천구
90

In [80]:
for key, value in dic.items():
    print("key : {}, value : {}".format(key, value))

key : name, value : 홍길동
key : address, value : 서울시 금천구
key : score, value : 90

In [81]:
l = ['a', 'b', 'c']
'c' in l

True

In [82]:
dic = {'name' : '홍길동', 'score' : 100}
'name' in dic

True

In [83]:
'홍길동' in dic
# 튜플에서의 in은 key값에서 탐색한다.

False

In [84]:
len(dic) # 데이터 갯수

2

## 4절. set
    - 중복을 허용하지 않는 집합(순서 x = 인덱스 x)

In [87]:
fruits = {'apple', 'banana', 'orange', 'banana'}
print(fruits)
print(type(fruits))

{'apple', 'banana', 'orange'}
<class 'set'>

In [88]:
fruits.add('kiwi')
fruits

{'apple', 'banana', 'kiwi', 'orange'}

In [89]:
fruits.add('banana')
fruits

{'apple', 'banana', 'kiwi', 'orange'}

In [90]:
for i, value in enumerate(fruits):
    print("{} : {}".format(i, value))

0 : apple
1 : kiwi
2 : banana
3 : orange

## 5절. 연습문제

In [125]:
numbers = [i+1 for i in range(10)]

In [126]:
numbers.append(100)

In [127]:
data = [100, 200, 300, 400]
numbers.append(data)

In [128]:
print(numbers[:5])

[1, 2, 3, 4, 5]

In [129]:
print(numbers[::2])

[1, 3, 5, 7, 9, 100]

In [130]:
for i in range(len(numbers)):
    if i % 2 == 1:
        numbers[i] = 0

In [131]:
numbers = numbers[::-1]

In [132]:
numbers

[0, 100, 0, 9, 0, 7, 0, 5, 0, 3, 0, 1]

In [137]:
member = {'name' : '홍길동', 'age' : 20, 'address' : '서울시 금천구', 'score' : 90}

In [138]:
print(id(member))

1428820750592

In [139]:
print(member.pop('score'))
print(member)

90
{'name': '홍길동', 'age': 20, 'address': '서울시 금천구'}

In [140]:
member['address'] = '서울시 서대문구'

In [142]:
print(member.items())

dict_items([('name', '홍길동'), ('age', 20), ('address', '서울시 서대문구')])