# 5장. 함수
## 1절. 함수의 정의
### 1.1 함수 정의

In [1]:
def my_hello(x, msg): # 함수 정의
    for i in range(x):
        print(i, msg)

my_hello(4, "쉬는 시간 입니다.")

0 쉬는 시간 입니다.
1 쉬는 시간 입니다.
2 쉬는 시간 입니다.
3 쉬는 시간 입니다.

In [2]:
def my_add(num1, num2, num3 = 0):
    return num1 + num2 + num3

print(my_add(1,2,3))
print(my_add(1,2))

6
3

### 1.2 docstring
    - 함수 도움말 (shift + tab으로 볼 수 있음)

In [11]:
import fibonacci

fibonacci.fibonacci(100)

ModuleNotFoundError: No module named 'fibonacci'

### 1.3 지역변수(local variable)와 전역변수(global variable)

In [13]:
global_var = 100
def func1():
    print(global_var)

func1()

100

In [18]:
def func2():
    local_var = 100

func2()
print(local_var)

NameError: name 'local_var' is not defined

In [20]:
g_var = 100
def func3():
    print(g_var)
    g_var = 200
    print(g_var)
func3()
print(g_var)

UnboundLocalError: cannot access local variable 'g_var' where it is not associated with a value

### 1.5 전역변수 수정

In [21]:
g_var = 100
def func3():
    global g_var
    print(g_var)
    g_var = 200
    print(g_var)
func3()
print(g_var)

100
200
200

### 1.6 값에 의한 호출 (call by value)
    - 함수에 인수로 전달되는 변수가 스칼라 변수(숫자, 문자, 논리)일 경우

In [22]:
foo = 'ab'
id(foo)

2601379615152

In [25]:
def func1(f):
    print("Before : {}의 주소는 {}".format(f, id(f)))
    f *= 3
    print("After  : {}의 주소는 {}".format(f, id(f)))

func1(foo)
print("함수 호출 후 foo : {}의 주소는 {}".format(foo, id(foo)))

Before : ab의 주소는 2601379615152
After  : ababab의 주소는 2601436242288
함수 호출 후 foo : ab의 주소는 2601379615152

### 1.7 참조에 의한 호출(call by reference)
    - 함수에 전달되는 인수가 리스트, 딕셔너리, 셋인 경우

In [28]:
L = [1,2,3]
print("L의 내용은 {}, 주소는 {}".format(L, id(L)))

L의 내용은 [1, 2, 3], 주소는 2601451710464

In [29]:
def func2(f):
    print("함수 내 before : L의 내용은 {}, 주소는 {}".format(L, id(L)))
    f.append(4)
    print("함수 내 after : L의 내용은 {}, 주소는 {}".format(L, id(L)))
    
func2(L)
print("L의 내용은 {}, 주소는 {}".format(L, id(L)))

함수 내 before : L의 내용은 [1, 2, 3], 주소는 2601451710464
함수 내 after : L의 내용은 [1, 2, 3, 4], 주소는 2601451710464
L의 내용은 [1, 2, 3, 4], 주소는 2601451710464

## 2절. 함수의 실행 결과를 반환하는 return
    - 여러 개의 값을 반환할 수 있다. (하나의 튜플로 반환)

In [31]:
# 여러 값을 return
def swap(a, b):
    return b, a

In [32]:
x, y = 5, 10
print("함수 실행 전 x = {}, y = {}".format(x, y))
x, y = swap(x, y)
print("함수 실행 후 x = {}, y = {}".format(x, y))

함수 실행 전 x = 5, y = 10
함수 실행 후 x = 10, y = 5

## 3절. 함수의 매개변수 ★
### 3.1 기본값을 갖는 매개변수

In [34]:
def make_url(ip, port = 80):
    # 순서인수, 기본값,을 갖는 인수 순으로
    return "https://{}:{}".format(ip, port)

In [37]:
print(make_url('localhost'))
print(make_url('localhost', 8090))
print(make_url(port=8090, ip='localhost'))

https://localhost:80
https://localhost:8090
https://localhost:8090

### 3.2 튜플 매개변수로 이용한 가변인수(인수갯수가 가변) 설정

In [40]:
print('hello','world') # 인수의 갯수가 가변 = 가변인수

hello world

In [46]:
# args 앞에 * : args가 튜플로 전달
def add(*args):
    print('전달받은 args = {}'.format(args))
    print(type(args))
    sum = 0
    for num in args:
        sum += num
    
    return sum

In [47]:
add(1,2,3,4,5,6)

전달받은 args = (1, 2, 3, 4, 5, 6)
<class 'tuple'>

21

In [51]:
def concat(*args, sep):
    return sep.join(args)

In [52]:
# 해결책 1. 지정해주기
concat("C", "Python", "Oracle", sep="~")

'C~Python~Oracle'

In [54]:
# 해결책 2. 추천 -> 일반 인수 - 튜플인수 - 기본값이 있는 인수 순으로 나열
def concat(sep, *args):
    return sep.join(args)

concat("~", "C", "Python", "Oracle")

'C~Python~Oracle'

In [55]:
# 해결책 3. 
def concat(*args, sep= '/'): # 순서인수 > 튜플인수 > 키워드인수
    return sep.join(args)

### 3.3 딕셔너리 매개변수

In [61]:
def func(**args):
    # print(args)
    # print(type(args))
    for key, value in args.items():
        print("{} : {}".format(key, value))

In [62]:
dic = {'name' : '홍길동', 'age' : 20}

func(name = '홍길동', age = 20)

name : 홍길동
age : 20

In [63]:
func(gameName = '서바이벌C', year = 2024, price = 33000)

gameName : 서바이벌C
year : 2024
price : 33000

### 3.4 함수 정의시 매개변수 순서
    - 순서인수 > 튜플인수(*) > 키워드인수(매개변수 이름을 명시) > 딕셔너리 인수(**)

In [64]:
def func(a, b, c, *d, e=10, **f):
    print('a = ', a)
    print('b = ', b)
    print('c = ', c)
    print('d = ', d)
    print('e = ', e)
    print('f = ', f)

In [65]:
func(10,20,30,1,2,3,4,5,e=20,height = 180, name = '홍길동')

a =  10
b =  20
c =  30
d =  (1, 2, 3, 4, 5)
e =  20
f =  {'height': 180, 'name': '홍길동'}

### 3.5 인수의 언패킹
    - 튜플 인수 언패킹

In [ ]:
# args 앞에 * : args가 튜플로 전달
def add(*args):
    # print('전달받은 args = {}'.format(args))
    # print(type(args))
    sum = 0
    for num in args:
        sum += num
    
    return sum

In [ ]:
data = (1,2,3)
add(*data)

In [67]:
def func(**args):
    # print(args)
    # print(type(args))
    for key, value in args.items():
        print("{} : {}".format(key, value))

In [68]:
dic = {'name' : '홍길동', 'age' : 20}
func(**dic)

name : 홍길동
age : 20

## 4절. 람다식
    - 람다식은 작은 익명함수를 의미함
    - 실행할 문장을 한문장만 작성할 수 있음 
    - 리스트 컴프리헨션과 같이 참조해서 학습 추천
    - ex. map(), filter()에서 사용할 예정

In [69]:
# 일반함수
def add(a,b):
    return a+b

add(3, 5)

8

In [70]:
type(add)

function

In [72]:
add = lambda a, b : a+ b
add

In [73]:
(lambda a, b : a + b)(5, 6)
# 함수를 만들지 않고도 사용할 수 있음

11

In [75]:
f = lambda x : x**2
f(3)

9

In [77]:
def map_template(func, L = [] ):
    result = []
    for data in L:
        result = []
        for data in L:
            result.append(func(data))
    
    return result

In [80]:
list_data = [1,2,3,4,5]
map_template(lambda x : x**2, list_data)

[1, 4, 9, 16, 25]

In [82]:
list(map(lambda x : x * 2 , list_data))

[2, 4, 6, 8, 10]

In [83]:
# 리스트 컴프리헨션 이용
[x * 2 for x in list_data]

[2, 4, 6, 8, 10]

In [89]:
list_data = [1,2,3,4,5]

In [90]:
def filter_template(func, L=[]):
    result = []
    for data in L:
        if func(data):
            result.append(data)

    return result

In [92]:
filter_template(lambda x: x % 2 == 0, list_data)

[2, 4]

In [94]:
list(filter(lambda x : x % 2 == 0, list_data))

[2, 4]

In [95]:
# 리스트 컴프리헨션 이용
[x for x in list_data if x%2 == 0]

[2, 4]

## 5절. 파이썬 내장함수
    -print처럼 import 하지 않고 즉시 사용 가능한 경우

## 6절, 연습문제

In [103]:
def get_max_min(data_list):
    max_ = max(data_list)
    min_ = min(data_list)    
    return max_, min_

In [104]:
def game_369(data_list):
    result = []
    for i in data_list:
        count369 = str(i).count('3') + str(i).count('6') + str(i).count('9')
        if count369:
            result.append('짝'*count369)
        else:
            result.append(i)

    return result

game_369([1,2,3,4,5,6,7,8,9,13,20,33,369369369396])

[1, 2, '짝', 4, 5, '짝', 7, 8, '짝', '짝', 20, '짝짝', '짝짝짝짝짝짝짝짝짝짝짝짝']

In [102]:
def game_369(*args):
    result = []
    for i in args:
        count369 = str(i).count('3') + str(i).count('6') + str(i).count('9')
        if count369:
            result.append('짝'*count369)
        else:
            result.append(i)

    return result

game_369(1,2,3,4,5,6,7,8,9,13,20,33)

[1, 2, '짝', 4, 5, '짝', 7, 8, '짝', '짝', 20, '짝짝']