# ch09. 파일 입출력
## 1절. 파일에 데이터를 저장하고 불러오기

In [12]:
dir = 'C:/IVS/C_Python/2_Python/data/'

In [23]:
# w : 있는 파일은 기존의 파일에 덮어쓰고 없는 파일은 생성
# a : 있는 파일은 추가, 없는 파일은 생성
# r : 읽기 전용
f = open(dir+'ch09.txt', 'w')
print(f.writable())

True

In [24]:
f.write('Hello\nWorld\nHello\nPython\n반갑습니다\n')
f.write('\n여러번 write 가능')
f.close()

In [25]:
with open(dir+'ch09.txt', 'r') as f:
    data = f.readlines()
    print(data)

['Hello\n', 'World\n', 'Hello\n', 'Python\n', '반갑습니다\n', '\n', '여러번 write 가능']

In [54]:
with open(dir+'ch09.txt', 'w') as f:
    print('Python is easy\n', file=f)

In [55]:
# UTF-8로 인코딩된 CSV파일을 read
with open(dir+'ch09_member1.csv', 'r', encoding='UTF-8') as f:
    # =================================
    # 안좋은 방법
    data = f.readlines()
    for row in data:
        print(row, end='')

홍길동,20,123@asd.com,서울시 강서구
박길서,33,12341@asd.com,서울시 동작구
박길남,23,1261343@asd.com,서울시 서초구
김길북,40,1263413@asd.com,서울시 광진구
신길서,80,121233@asd.com,서울시 강남구
신길동,65,123123@asd.com,서울시 강서구
이길동,123,32123@asd.com,서울시 중구
박길동,63,15623@asd.com,서울시 용산구
김길동,53,12783@asd.com,서울시 노원구

In [56]:
import pandas as pd

member1 = pd.read_csv(dir+'ch09_member1.csv')

member1

   홍길동   20      123@asd.com  서울시 강서구
0  박길서   33    12341@asd.com  서울시 동작구
1  박길남   23  1261343@asd.com  서울시 서초구
2  김길북   40  1263413@asd.com  서울시 광진구
3  신길서   80   121233@asd.com  서울시 강남구
4  신길동   65   123123@asd.com  서울시 강서구
5  이길동  123    32123@asd.com   서울시 중구
6  박길동   63    15623@asd.com  서울시 용산구
7  김길동   53    12783@asd.com  서울시 노원구

In [57]:
member1.columns = ['name', 'age', 'email', 'address']
member1

  name  age            email  address
0  박길서   33    12341@asd.com  서울시 동작구
1  박길남   23  1261343@asd.com  서울시 서초구
2  김길북   40  1263413@asd.com  서울시 광진구
3  신길서   80   121233@asd.com  서울시 강남구
4  신길동   65   123123@asd.com  서울시 강서구
5  이길동  123    32123@asd.com   서울시 중구
6  박길동   63    15623@asd.com  서울시 용산구
7  김길동   53    12783@asd.com  서울시 노원구

In [58]:
type(member1)

pandas.core.frame.DataFrame

In [59]:
member2 = pd.read_csv(dir+'ch09_member2.csv', nrows=3)

In [60]:
member = pd.concat([member1, member2]) # 행병합
display(member)

  name  age            email  address
0  박길서   33    12341@asd.com  서울시 동작구
1  박길남   23  1261343@asd.com  서울시 서초구
2  김길북   40  1263413@asd.com  서울시 광진구
3  신길서   80   121233@asd.com  서울시 강남구
4  신길동   65   123123@asd.com  서울시 강서구
5  이길동  123    32123@asd.com   서울시 중구
6  박길동   63    15623@asd.com  서울시 용산구
7  김길동   53    12783@asd.com  서울시 노원구
0  홍길동   20      123@asd.com  서울시 강서구
1  박길서   33    12341@asd.com  서울시 동작구
2  박길남   23  1261343@asd.com  서울시 서초구

In [61]:
member.to_csv(dir+'member.csv', index=False)